.header{
    margin-top: 30px;
    margin-left: 212px;
    margin-right: 217px;
    display: grid;
    grid-template-columns: 1fr 1fr
}
.logo {
    text-decoration: none;
    color: black;
    border: 1px solid #000000;
    padding: 11px 12px;
    font-weight: 400;
}
.link:hover{
    color: #FF8A00;
}
.navbar{
    display: flex;
    gap: 30px;
}
.link{
    text-decoration: none;
    color: black;
    font-weight: 400;
}
.qt{
    width: 154px;
    height: 40px;
    left: 1120px;
    top: 31px;
    background: #FF8A00;
    border-radius: 50px;
    border: none;
    color: white;
}