.banner{
    position: relative;
}
.banner-image{
    width: 100%;
    background: #C4C2C2;
    mix-blend-mode: multiply;
    margin-top: 40px;
    height: 501px;
}
.banner-description{
    position: absolute;
    top: 81px;
    left: 200px;
    width: 614px;
    height: 181px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
  
}
.banner-sub-description{
    position: absolute;
    margin-top: -66px;
    left: 200px;
    top: 392px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.contact-btn{
    position: absolute;
    width: 192px;
    height: 40px;
    left: 200px;
    border: none;
    margin-top: -61px;
    top: 470px;
    color: white;
    background: #FF8A00;
    border-radius: 50px;
}